<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/HomeStyle.css" rel="stylesheet">
</head>
<body>
    <div>
        <!-- Nav -->
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="nav-wrapper">
                <div class="d-inline-block">
                    <a class="blog-header-logo text-dark" asp-action="Index"><img class="nav-margin" src="/images/logo.png" alt="logo" />Lee's Recipe</a>
                </div>
                <ul class="navbar-nav font-weight-bold float-right ul-margin">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AddRecipe">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="RecipeList">Recipe List</a>
                    </li>
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
