
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body class="bg-color">
    <div class="text-center main-content">
        <div><img src="/images/main_img.png" alt="main image" /></div>
        <div>
            <h4 class="display-4 font-italic">We Love Delicious Food.</h4>
            <p>@ViewBag.Greeting Start cooking here. Your next meal will be delicious.</p>
        </div>
    </div>
</body>
</html>