@model Recipe
@{
    ViewBag.Title = "Thanks";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="wrapper">
        <h2>Thanks for sharing your recipe!</h2>
        <img class="img-margin" src="/images/thanks_img.jpg" alt="thanks" />
        <h5>Now your <Strong>@Model.Name</Strong> is on our recipe book! :-)</h5>
    </div>
</body>
</html>
